@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.food-card.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
