/client/node_modules/**/*',
    'node_modules/**/*',
    'public/**/*',
    'src/**/*',
    'test/**/*',
    'webpack/**/*',
    'yarn.lock',
  ],
  rules: {
    'import/no-extraneous-dependencies': 'off',
    'import/no-unresolved': 'off',
    'import/prefer-default-export': 'off',
    'no-console': 'off',
    'no-underscore-dangle': 'off',
    'no-use-before-define': 'off',
    'react/jsx-filename-extension': 'off',
    'react/prop-types': 'off',
  },
};